//- TODO: create the body for the page
//- Handle the generate pdf request by ajax

h1 Generate PDF Test Page

p Click the following button to download this page in .pdf format

a(href="/v1/generatepdf/?url=http://localhost:3000") Generate PDF