extends layout

block page

  h1 Report Page Test 2

block JSInline
  script.

    var div = document.createElement("div");
    var data = JSON.parse(sessionStorage.getItem("reportData"));
    div.innerHTML = data;
    document.body.appendChild(div);