extends layout

block page

  h1 Report Page Test 2

block JSInline
  script.

    var i

    for (i = 0; i < sessionStorage.length; i++) {

      var div = document.createElement("div");
      div.innerHTML = sessionStorage.key(i) + "=[" + sessionStorage.getItem( sessionStorage.key(i)) + "]";

      document.body.appendChild(div);
    }